// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "./environments.kdl"
include "./io.kdl"
include "./autostarts.kdl"
include "./layout.kdl"
include "./binds.kdl"
include "./blur.kdl"
include "./window-rules.kdl"
include "./noctalia.kdl"
include "./others.kdl"

