layout {

    focus-ring {
        active-color   "#01be6e"
        inactive-color "#0e150f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#01be6e"
        inactive-color "#0e150f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#01be6e"
        inactive-color "#004d2c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#01be6e80"
    }
}

recent-windows {
    highlight {
        active-color "#01be6e"
        urgent-color "#ffb4ab"
    }
}
